<div class="container">
    <div class="row">
        <div class="col">
            
            <div class="card mb-3" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Solar Protection</h5>
                      <p><input type="text" (keyup)="setSolarProtection($event)" /></p>
                      <p>Solar Protection: {{ solarProtection }}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col">
            
            <div class="card mb-3" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Honor Shard Pounch(L)</h5>
                      <p><input type="text" (keyup)="setHonorShardPounch($event)" /></p>
                      <p>Honor Shard Pounch(L): {{ honorShardPounch }}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            
            <div class="card mb-3" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Solar Grace</h5>
                      <p><input type="text" (keyup)="setSolarGrace($event)" /></p>
                      <p>Solar Grace: {{ solarGrace }}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col">
            
            <div class="card mb-3" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Solar Blessing</h5>
                      <p><input type="text" (keyup)="getSolarBlessing($event)" /></p>
                      <p>Solar Blessing: {{ solarBlessing }}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>