.epikCard {
    background-color: blueviolet;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.legendaryCard {
    background-color: orange;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.rareCard {
    background-color: blue;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.uncommonCard {
    background-color: green;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.editCard{
    max-width: 350px;
    
}

.each{
    max-width: 55%;
}

.priceInput{
    max-width: 75%;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.7;
    background-color: grey;
}

.legendaryTogle{
    background-color: orange;
    width: 350px;
    height: 150px;
    opacity: 0.9;
  }

  .epikTogle{
    background-color: blueviolet;
    width: 350px;
    height: 150px;
    opacity: 0.9;
  }

  .uncommonTogle{
    background-color: green;
    width: 350px;
    height: 150px;
    opacity: 0.9;
  }

  .rareTogle{
    background-color: blue;
    width: 350px;
    height: 150px;
    opacity: 0.9;
  }