.epikCard {
    background-color: blueviolet;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.legendaryCard {
    background-color: orange;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.rareCard {
    background-color: blue;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.uncommonCard {
    background-color: green;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.editCard{
    max-width: 500px;
    
}

.each{
    max-width: 55%;
}

.priceInput{
    max-width: 75%;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.7;
    background-color: grey;
}

.legendaryTogle{
    background-color: black;
    height: 250px;
    opacity: 0.9;
    border:3px solid black;
    box-shadow: 5px 10px;
  }

  .epikTogle{
    background-color: black;
    height: 250px;
    opacity: 0.9;
    border:3px solid black;
    box-shadow: 5px 10px;

  }

  .uncommonTogle{
    background-color: black;
    height: 250px;
    opacity: 0.9;
    border:3px solid black;
    box-shadow: 5px 10px;
  }

  .rareTogle{
    background-color: black;
    height: 240px;
    opacity: 0.9;
  }

  .customCard{
    font-size: 10px;
  }

  .continentCard{
    font-size: 7px;
  }

  .entryItemCard{
    color: #E67E22 ;
  }

  .openMapCard{
color: #F9E79F;
  }

  .cannotBeCard{
color: #A93226;
  }

  .whereCard{
color: #5DADE2;
  }