.demo-table {
  width: 100%;
}

.mat-column-type {
  width: 15%;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-offer {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-income {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-profit {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-myProfit {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-teamProfit {
  padding-left: 16px;
  font-size: 20px;
}

.headerCard {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.example-card {
  
  max-width: 200px;
}

.example-header-image {
  background-image: url('../../../assets/images/lostArk.jpg');
  background-size: cover;
}

.test{
  background-color: grey;
  width: 350px;
  height: 150px;
}

.mat-button-base {
  margin: 0 .5rem;
}

.text-right {
  text-align: right;
}